* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9dadc;
  height: 100%;
}

main {
  padding-top: 30px;
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: auto;
  height: 100%;
  align-items: center;
  background-size: cover;
}
.header {
  margin: auto;
  width: 60%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  color: #2c3d50;
}

.center {
  padding-top: 30px;
  width: 1050px;
  height: 700px;
  margin: auto;
  position: relative;
}

.gridboard {
  float: left;
  font-size: 0px;
  margin: auto 50px auto auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 500px;
  height: 500px;
}

.gridboard > .smallbox {
  width: 100px;
  height: 100px;
  display: inline-block;
  color: #ffffff;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 20px;
  font-weight: bold;
  overflow: visible;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
}

.gridboard > div {
  position: relative;
}

#img_ladder1 {
  top: 35px;
  left: 35px;
  z-index: 1;
  width: 110px;
  height: 110px;
  position: absolute;
}

#img_ladder2 {
  top: 35px;
  left: 35px;
  z-index: 1;
  width: 120px;
  height: 120px;
  position: absolute;
}

#img_snake1 {
  top: 60px;
  left: 35px;
  z-index: 1;
  position: absolute;
  width: 120px;
  height: 80px;
}

#img_snake2 {
  top: 30px;
  left: 35px;
  z-index: 1;
  position: absolute;
  width: 290px;
  height: 140px;
}

#img_snake3 {
  top: 55px;
  left: 35px;
  z-index: 1;
  position: absolute;
  width: 110px;
  height: 180px;
}

#img_flag {
  top: 35px;
  left: 5px;
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 50px;
}

#player1 {
  top: 10px;
  left: 0px;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 2;
}

#player2 {
  top: 10px;
  left: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 2;
}

#message {
  margin-top: 20px;
  width: 250px;
  text-align: center;
  color: black;
}

#movingmessage {
  position: absolute;
  width: 250px;
  top: 120px;
  text-align: center;
  font-size: 35px;
  overflow-wrap: normal;
  font-weight: bolder;
  color: rgb(13, 20, 237);

  font-family: cursive, "Courier New", Courier, monospace;
}

.control_panel {
  width: 260px;
  height: 550px;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  border-radius: 10%;
}

.person_panel {
  text-align: center;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 40px;
}

.person_panel #img_player1 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.person_panel #img_player2 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.white_color {
  border: 5px solid white;
}

.red_color {
  border: 5px solid red;
  transition: border 0.4s;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
}

.dice_panel {
  width: 250px;
  height: 250px;
  border-radius: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dice_panel button {
  background-color: #fdb838;
  border: #fdb838;
  width: 80%;

  border-radius: 40px;
  font-size: 25px;
  color: white;
  padding: 5px;
  box-shadow: 0 5px #999;
  cursor: pointer;
}

#img_dice_control {
  width: 150px;
  height: 150px;
}

.dice_panel button:active {
  box-shadow: 0 1px #666;
  margin-top: 5px;
  margin-bottom: -5px;
}

/* Starting point */
#div0 {
  width: 100px;
  height: 100px;
  display: inline-block;
  color: #ffffff;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
  float: left;
  top: 400px;
  background-size: cover;
}

#startHere {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -100px;
  top: 0;
}

/* Add game background */
#gameGround {
  width: 650px;
  height: 530px;
  float: left;
  background-image: url("../imgs/gameBackground1.jpg");
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  position: relative; /* set postion as a reference for the starting message box postion;  */
}

#gameIcon {
  margin: auto;
  width: 40%;
  height: auto;
  z-index: 2;

}
#grassfield {
  opacity: 0.65;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Add setting and sound button */
#settingAndSound {
  display: flex;
  float: right;
  width: auto;
  height: auto;
}
#setting {
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 5px rgb(164, 131, 228);
}
#setting:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#sound {
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 5px rgb(164, 131, 228);
}
#sound:hover {
  background-color: #3e8e41;
}
#sound:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.indicator {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 55px;
  left: 5px;
  overflow: visible;
  visibility: hidden;
}

/* On screen starting message */
.startingMessage {
  width: 250px;
  height: auto;
  font-size: 25px;
  text-align: center;
  border-radius: 5%;
  font-weight: bolder;
  font-family: cursive, "Courier New", Courier, monospace;
  transition: transform 2s;
  /* visibility: hidden; */
  color: white;
  z-index: 100;
  position: absolute;
  top: 200px;
  left: 200px;
  background-color: rgba(5, 5, 6, 0.3);
}

.showMessage {
  transform: scale(2.3);
  visibility: visible;
  position: absolute;
}

.go_button {
  background-color: #fdb838;
  border: #fdb838;
  width: 80%;

  border-radius: 40px;
  font-size: 25px;
  color: white;
  padding: 5px;
  box-shadow: 0 5px #999;
  cursor: pointer;
}

.footer2 {
  font-size: 27px;
  color: rgb(73, 65, 65);
  font-weight: 500;
  margin: auto;
}

.footer2 span {
  font-size: 25px;
  font-weight: 300;
}

#img_avatar_player1 {
  border-radius: 50%;
}

footer {
  width: 800px;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin: auto;
  top: 0;
  bottom: 0;
  padding-top: 15px;
}

.weather {
  width: 45%;
  height: 50px;
  display: flex;
  margin: auto;
  flex-direction: row;
}

.weather .temperature_value {
  font-size: 50px;
  font-weight: 400;
  margin-left: 15px;
}

.weather .c_value {
  font-size: 25px;
  font-weight: 400;
}

.weather .c_value sup {
  font-size: 10px;
  font-weight: 400;
}

.temperature .f_value {
  font-size: 25px;
  font-weight: 400;
}

.temperature .seperator {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 22px;
  font-weight: 800;
}

.temperature .f_value sup {
  font-size: 10px;
  font-weight: 400;
}

.temperature {
  display: flex;
  flex-direction: row;
}

.weather_right {
  margin-left: 15px;
  font-size: 12px;
  margin-top: 4px;
}

/* responsive */
@media only screen and (min-width: 1511px) and (max-width: 1649px) {
  main {
    width: 90%;
  }
}

@media only screen and (min-width: 1151px) and (max-width: 1510px) {
  main {
    width: 90%;
  }
}


@media only screen and (max-width: 1150px) {
 
  #gameGround {
    float: none;
  }
  .center {
    width: 750px;
    margin: auto;
    align-items: center;
  }
  main {
    width: 95%;
  }
  .control_panel {
    width: 600px;
    height: auto;
    float: none;
    flex-direction: row;
    margin-top: 25px;
  }

  .person_panel {
    float: left;
    margin-right: 25px;
  }
  #settingAndSound {
    top: 0px;
    right: 0;
    position: absolute;
  }
}
